{% extends "blogs/blogs.html" %}

{% load bootstrap %}

{% block content %}
    <div class="container">
        <div id="content">
            <form action="" method="post">
                {{ form|bootstrap }}
                <div class="form-actions">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}