{% extends "blogs/blogs.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}
    {{ post.title }} / {{ post.blog.title }} / {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container blogs-post-view">
        <div class="content">
            <div>
                <h4><a href="{% url 'blog:blog' id=post.blog.id slug=post.blog.slug %}">{{ post.blog.title }}</a> //</h4>
                <h2>{{ post.title }}</h2>
                <div>
                    {% autoescape off %}                    
                        {{ post.content }}
                    {% endautoescape %}
                </div>
            </div>


            <div class="comments">
                <h3>комментарии</h3>
                {% load disqus_tags %}
                {% disqus_dev %}
                {% disqus_show_comments %}
            </div>

        </div>


    </div>
{% endblock %}
